/*
 * xTime - Coming Soon Page
 *
 * Author: www.matchthemes.com
 *
 * Version: 1.0.0
 *
 */


/* RESET STYLES */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none;}
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
q:before, q:after { content:'';}
strong { font-weight: bold; }
em { font-style: italic; }
.italic { font-style: italic;}
.aligncenter { display:block; margin:0 auto; }
.alignleft { float:left; margin:20px;}
.alignright { float:right;margin:20px; }
.no-margin{margin:0px !important;}
.no-bottom{margin-bottom:0px;}
.no-padding{padding:0px;}
.margin-t34{margin-top:34px;}
.margin-t22{margin-top:22px;}
.column-clear{clear:both;}
div { position:relative } 
a:active,a:focus{outline: none;
text-decoration:none;}


body{ font-size:15px;
font-family: "Lato", sans-serif;
line-height:1;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
color:#ffffff;
}


*{ 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

a{color:#ffffff;text-decoration:none;}
a:hover{text-decoration:underline;
color:#ffffff;
}

	h1 {font-size:76px;}
	h2 {font-size:50px;}
	h3 {font-size:34px;}
	h4 {font-size:22px;}
	h5 {font-size:15px;}
	
	h1,h2,h3,h4,h5{font-family: "Lato", sans-serif;
	line-height:1.1;}
	p {font-size:15px;
		line-height:1.5;
		margin: 0 0 22px 0;}

.alignc{text-align:center;}
.none{display:none;}


.solid-color{bottom: 0;
    left: 0;
    right: 0;
    top: 0;
	opacity: 0.8;
    position: fixed;
    z-index: 2;
	}
	
.main{z-index:3;}

header{padding-top:50px;}

.logo-title{font-weight:100;}

.dash {margin-top:34px;}

.dash ul li{display:inline-block;}

.digit{display:block;
overflow:hidden;
font-size:50px;
height:50px;
line-height:1;
font-weight:100;}

.dash_title{display:block;
overflow:hidden;
font-weight:300;
margin-top:10px;
}

.circle{width:150px;
height:150px;
border:1px solid #ffffff;
border-radius:50%;
padding:30px 0;
margin-left:auto;
margin-right:auto;}

section{margin-top:76px;}
.title{font-weight:700;
margin-bottom:22px;}

.news-title{margin-top:15px;}
.sub-title{font-weight:700;
position:relative;}
.sub-title:after{background-color: #ffffff;
    bottom: -8px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 30px;}

.comm-field{background:rgba(255,255,255,0.3);
color:#ffffff;
border:none;
padding:7px;
width:70%;}

.btn-submit{color:#ffffff;
border:1px solid #ffffff;
padding:7px 15px;
background:none;}
.btn-submit i{padding-right:5px;}

#subscribe-form-holder{margin-top:22px;}
#subscribe-contact{margin-top:15px;}

.contact strong{min-width:60px;
display:inline-block;}

.footer-social{margin:76px 0 22px 0;}
.footer-social li{display:inline-block;
margin:0 0 0 15px;
font-size:15px;
}
.footer-social li:first-child{margin-left:0;}

.footer-social li a{color:#ffffff;
display:block;
width:35px;
height:35px;
border:1px solid #ffffff;
border-radius:50%;
padding-top:9px;


-webkit-backface-visibility: hidden;
-webkit-transition: all 0.3s ease-in-out 0s;
   -moz-transition: all 0.3s ease-in-out 0s;
   -o-transition: all 0.3s ease-in-out 0s;
   -ms-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
}

.footer-social li a:hover{ 
-webkit-transform: scale(1.2,1.2);
-moz-transform: scale(1.2,1.2);
-ms-transform: scale(1.2,1.2);
-o-transform: scale(1.2,1.2);
transform: scale(1.2,1.2);
}

.foo-copyright{font-size:12px;}
.foo-copyright a{color:#ffffff;}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
    opacity: 0.8;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ffffff;
    opacity: 0.8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ffffff;
    opacity: 0.8;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ffffff;
    opacity: 0.8;
}

/*************************************

MEDIA QUERIES

************************************/


@media (min-width: 1200px) {


}

@media (min-width: 768px) and (max-width: 979px) {

}


@media (max-width: 767px) {


}

@media (max-width: 480px) {

.circle{width:100px;
height:100px;
padding:15px 0;}

.digit{font-size:34px;
height:34px;}

}

@media (max-width: 320px) {

}